.social-buttons:hover {
    border-radius: 10%;
    background-color: #f6f6f6 !important;
}
.chatSection {
    position: fixed;
    bottom: 0;
    right: 3px;
    width: 350px;
    height: 500px;
    overflow-y: scroll;
    background-color: #242526;
}

.msg {
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #AAA;
    margin: 0 5px 5px 0;
    border-radius: 10px;
    overflow-wrap: anywhere;
    padding: 2px 5px;

}

.msg.sent {
    position: relative;
    left: 20%;
    flex-direction: row-reverse;
    background-color: #0084FF;
}

.msg.received {
    background-color: #3E4042;
}

img.profile-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #FFF !important;
}

.msgs > div > div > p {
    color: #FFF;
    padding: 0 10px !important;
    margin: 0 !important;
    unicode-bidi: plaintext;
}

.show-more {
    width: 160px;
    margin: 4px 0 6px calc(50% - 80px);
    background-color: #242526;
    border-radius: 10px;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}

.show-more:hover {
    background-color: #A00;
}

.noMessages {
    width: 240px;
    margin: 4px 0 6px calc(50% - 120px) !important;
    font-weight: bold;
}

form.sendMsg {
    display: flex;
    width: 100%;
}

form.sendMsg .input {
    background-color: #DDD;
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 5px !important;
    margin-top: 8px;
    margin-left: 5px;
    border-radius: 10px;
}

form.sendMsg button {
    color: #085DFF !important;
    margin-top: 5px !important;
}

form.sendMsg button * {
    font-size: 35px !important;
}

.topChatDiv {
    color: #000 !important;
    background-color: #242526 !important;
    padding: 5px;
    position: fixed;
    bottom: 500px;
    right: 3px;
    width: 350px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
}

.topChatDiv span {
    display: inline-block;
    font-size: 25px;
    margin-left: 10px;
    margin-top: -3px;
    font-weight: bold !important;
    color: #DDD;
}

